* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 1.2rem;
}
/*Text alignment*/
.justify {
  text-align: justify;
}
.defPb {
  padding-bottom: 5vh;
}
.defPt {
  padding-top: 5vh;
}
.bg-gray {
  background-color: rgb(240, 240, 240);
  color: black;
}
/*fonts*/
.defbodyFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.05rem;
}

.defheadFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.defsubheadFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/*end fonts*/

/*NavBar*/

/*General Images (zoom in)*/
.zoom-out-container {
  overflow: hidden;
  padding: 0;
}

.zoom-out-container img {
  transition: 2s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoom-out-container:hover img {
  transform: scale(1.1);
  border-radius: 1px;
}
/*end General Images*/

/* Dropdown Menu Styling */
/* .custom-dropdown {
  position: absolute;
  background-color: #dc3545; /* bg-danger 
  width: 50vw;
  top: 100%;
  left: 50%;
  transform: translateX(
    -50%
  ); /* Offsets the left positioning by 50% of the dropdown width 
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
}

.dropdown-item {
  display: block;
  padding: 0.75rem 1rem;
  color: white;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #c82333;
  color: rgb(252, 255, 224);
} */
/* Initial state of the dropdown (hidden) */
.custom-dropdown {
  position: absolute;
  /* border: 1px solid red; */
  top: 82%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  opacity: 0; /* Initially hidden */
  pointer-events: none; /* Disable interaction when hidden */
  /* transition: opacity 0.3s ease-in-out, pointer-events 0s linear 0.3s; Smooth opacity transition */
}

/* When the dropdown is visible (with the "show" class) */
.custom-dropdown.show {
  opacity: 1; /* Make it visible */
  pointer-events: auto; /* Enable mouse events for interaction */
  /* transition: opacity 0.3s ease-in-out, pointer-events 0s linear 0s; Smooth opacity transition */
}
.dropdown .rotate {
  transform: rotate(180deg); /* Rotate the arrow */
  transition: transform 0.3s ease-in-out; /* Smooth rotation */
}
.navbar {
  position: relative;
}
.secondary {
  color: rgba(255, 17, 67, 1);
}
/* .dropdown-item {
  display: block;
  padding: 0.75rem 1rem;
  color: white;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #c82333;
  color: rgb(252, 255, 224);
} */
/*Partners*/

@media (max-width: 992px) {
  .custom-dropdown {
    position: static;
    width: 100%;
    left: 0;
    transform: none;
    margin-top: 0.5rem;
  }

  /* Ensure the dropdown is placed below the Menu link */
  .custom-dropdown .dropdown-item {
    padding-left: 1rem; /* Adjust padding to align with the navbar items */
    padding-right: 1rem;
  }
}

/* about Section */
.aboutImgFullWidth {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

/*custom utilities*/
.text-justify {
  text-align: justify;
}
