.container-fluid {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0rem;
}
.row {
  margin: 0 0;
}
.hr {
  border: none;
  height: 3px;
  background: rgba(255, 17, 67, 1);
  opacity: 1;
  border-radius: 3px;
}
.contactForm {
  border: 1px solid rgba(0, 0, 0, 0.521);
  border-top: 5px solid rgba(255, 17, 67, 1);
}
/* .contactForm:first-child {
  margin-bottom: 140px;
  padding-bottom: 0px;
} */
.form-control {
  border: 1px solid black;
  border-radius: 0;
}
.form-control:focus {
  border-color: rgba(255, 17, 67, 1);
  outline: none;
  box-shadow: 0 0 3px rgba(255, 17, 67, 1);
}
@media (max-width: 1200px) {
  /* .contactForm:first-child {
    margin-bottom: 10px;
    padding-bottom: 0px;
  } */
}
.i-cons {
  height: 70px;
  width: 70px;
  color: rgb(41, 41, 41);
}
.icon {
  height: 40px;
  width: 40px;
  color: rgba(255, 17, 67, 1);
}
