* {
  box-sizing: border-box;
  max-width: 100%;
}

.sliderCaption {
  /*for positioning the captions*/
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  position: absolute;
  top: 20%;
  left: 20%;
}

#captionWithButton {
  display: block;
  position: absolute;
  top: 10%;
}

.sliderCaptionMain {
  font-size: 3rem;
  line-height: 3rem;
}
.sliderCaptionSubtext {
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  background-color: rgba(26, 25, 22, 0.253);
  backdrop-filter: blur(3px);
  font-weight: bolder;
}
.img-partner {
  transition: all 0.3s ease-in-out;
}
.img-partner:hover {
  transform: scale(1.09);
  /* color: rgba(29, 27, 27, 0.774); */
}
.carousel-image-container {
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 576px) {
  .sliderCaptionMain {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .sliderCaption {
    top: -7%;
    left: 20%;
  }
  .sliderCaptionSubtext {
    line-height: 1.4em;
    font-size: 1rem;
    font-weight: 500;
  }
}
@media (min-width: 1200px) {
  .carousel-image-container {
    height: 86vh;
  }
}

@media (min-width: 1400px) {
  .sliderCaptionMain {
    font-size: 4rem;
    line-height: 5rem;
  }
}

@media (max-width: 992px) {
  .sliderCaption {
    text-align: left;
    position: absolute;
    top: 10%;
    left: 10%;
  }
}

/*Market Section*/
.marketSection {
  background: #faf7e6;
}
.tabMenuItem {
  color: #fff;
}
.marketTitle {
  position: relative;
  top: -5rem;
  z-index: 100;
}

.img-fluids {
  width: 100%;
  height: 400px;
  object-fit: contain;
}
@media (max-width: 576px) {
  .img-fluids {
    height: 300px;
  }
}
.text-justify {
  text-align: justify;
}

@media (max-width: 576px) {
  .text-justify-xs-start {
    text-align: left !important;
  }
}
@media (max-width: 448px) {
  .sliderCaption {
    top: 20%;
  }
}
@media (max-width: 414px) {
  .carousel-image-container {
    height: 95vh;
  }
}
@media (max-width: 400px) {
  .carousel-image-container {
    height: 98vh;
  }
}
