* {
  box-sizing: border-box;
  max-width: 100%;
}

.sliderCaption {
  /*for positioning the captions*/
  text-align: left;
  position: absolute;
  top: 20%;
  left: 20%;
}

#captionWithButton {
  display: block;
  position: absolute;
  top: 10%;
}

.sliderCaptionMain {
  font-size: 3rem;
  line-height: 3rem;
}
.sliderCaptionSubtext {
  color: white;
  font-size: 1.2rem;
}

/* @media (min-width: 576px) {
  .sliderCaptionMain {
    font-size: 2rem;
    line-height: 1rem;
  }
}

@media (min-width: 768px) {
  .sliderCaptionMain {
    font-size: 4rem;
    line-height: 4rem;
  }style={{ border: "2px solid red" }}
}

@media (min-width: 992px) {
  .sliderCaptionMain {
    font-size: 4rem;
    line-height: 4rem;
  }
} */
@media (max-width: 576px) {
  .sliderCaptionMain {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .sliderCaption {
    top: -7%;
    left: 20%;
  }
  .sliderCaptionSubtext {
    line-height: 1.4em;
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .sliderCaptionMain {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 1400px) {
  .sliderCaptionMain {
    font-size: 4rem;
    line-height: 5rem;
  }
}

@media (max-width: 992px) {
  .sliderCaption {
    /*for positioning the captions*/
    text-align: left;
    position: absolute;
    top: 10%;
    left: 10%;
  }
}

/*Market Section*/
.marketSection {
  background: #faf7e6;
}
.tabMenuItem {
  color: #fff;
}
.marketTitle {
  position: relative;
  top: -5rem;
  z-index: 100;
}

/* react-bootstrap breakpoints
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px
*/
