*{
    box-sizing: border-box;
}

body{
    width:100%;
    height:100vh;
    max-width: 100%;
    overflow-x:hidden;
    overflow-y: scroll;
    
}

/*General Images*/
.zoom-out-container {
    overflow: hidden; /* Ensures the image stays within its container */
    /*position: relative;*/
    /*width: 100%; /* Adjust based on container needs */
    /*height: 100%;*/
}

.zoom-out-container img {
    transition: 1.5s ease; /* Smooth transition */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image covers container fully */
}

.zoom-out-container:hover img {
    transform: scale(1.05); /* Scales the image down to 90% of its size */
    border-radius: 9px;
    }
/*end General Images*/
