*{
    box-sizing: border-box;
}

body{
    width:100%;
    height:100vh;
    max-width: 100%;
    overflow-x:hidden;
    overflow-y: scroll;
    font-size:1.2rem;
}
.defPb{
    padding-bottom:5vh;
}
.defPt{
    padding-top: 5vh;
}
.bg-gray{
    background-color: rgb(240, 240, 240);
}
/*fonts*/
.defbodyFont{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.defheadFont{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.defsubheadFont{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/*end fonts*/

/*NavBar*/


/*General Images (zoom in)*/
.zoom-out-container {
    overflow: hidden; /* Ensures the image stays within its container */
    /*position: relative;*/
    /*width: 100%; /* Adjust based on container needs */
    /*height: 100%;*/
}

.zoom-out-container img {
    transition: 1.5s ease; /* Smooth transition */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image covers container fully */
}

.zoom-out-container:hover img {
    transform: scale(1.05); /* Scales the image down to 90% of its size */
    border-radius: 9px;
    }
/*end General Images*/
