.sliderCaption{/*for positioning the captions*/
    text-align: left;
    position: absolute;
    top: 20vh;
    left: 20%;
    
}
.sliderCaptionMain{
    font-size: 76px;
    line-height: 80px;
}
.sliderCaptionSubtext{
    color:azure;
}