/*custom utils*/

li {
  padding-bottom: 1vh;
}

.text-justify {
  text-align: justify; /* Justify on all screens */
}

@media (max-width: 576px) {
  /* Extra small screens */
  .text-justify-xs-start {
    text-align: left !important; /* Override Bootstrap */
  }
}
